.card{
    max-width: 300px;
    border: 2px solid white;
    background-color: #121212;
    border-radius: 20px;

}
.card img{
    width: 100%;
    border-radius: 20px;
}
.card h3,.card p{
    margin-top:-1px ;
    margin-left: 10px;
}
.contant{
    padding: 0 10px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}